---
# robotframework_install values:
#   'always' | 'yes' | True => install robot framework
#   'never' | 'no' | False  => do not install robot framework
#   'auto' | (undefined)    => install robot framework once
- name: Lookup install mode.
  vars:
     _ri: "{{ robotframework_install | d('auto') | lower }}"
     _is_bool: "{{ (robotframework_install | d('auto') | type_debug) == 'bool' }}"
     _mode:
       auto: "{{ not (ansible_local.get('robotframework_installed', 'no') | bool) }}"
       always: True
       never: False
       yes: True
       no: False
  set_fact:
     _robotframework_install: "{{ _ri if _is_bool else _mode.get(_ri, 'error') }}"

- fail:
    msg: "Invalid robotframework_install value: {{ robotframework_install | d('(undefined)') }}"
  when: _robotframework_install == 'error'

- name: Install python pip.
  include_tasks: "{{ item }}"
  with_first_found:
    - "{{ role_path }}/tasks/pip/{{ ansible_distribution }}-{{ ansible_distribution_version }}.yml"
    - "{{ role_path }}/tasks/pip/{{ ansible_distribution }}-{{ ansible_distribution_major_version }}.yml"
    - "{{ role_path }}/tasks/pip/{{ ansible_distribution }}.yml"
    - "{{ role_path }}/tasks/pip/{{ ansible_os_family }}.yml"
    - "{{ role_path }}/tasks/pip/unknown.yml"
  when: _robotframework_install

- name: Install Robot Framework.
  become: yes
  pip:
    state: present
    name:
      # Install pyyaml so `robot` will support yaml format variable files.
      - "pyyaml{{ pyyaml_version | d('') }}"
      - "{{ robotframework_package_name }}{{ robotframework_package_version_spec }}"
  when: _robotframework_install

- name: Install Robot Framework Test Libraries.
  become: yes
  pip:
    state: present
    name: "{{ robotframework_external_libraries }}"
  when:
    - _robotframework_install
    - robotframework_external_libraries | count > 0

- name: Ensure facts directory exists.
  become: yes
  file:
    state: directory
    path: /etc/ansible/facts.d/

- name: Save Robot Framework installation facts.
  become: yes
  copy:
    content: '"yes"'
    dest: /etc/ansible/facts.d/robotframework_installed.fact
    mode: "644"
